<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>foodid</key>
		<integer>0</integer>
		<key>gid</key>
		<integer>0</integer>
		<key>name</key>
		<string>Beef</string>
		<key>scdlegal</key>
		<true/>
        <key>gapslegal</key>
		<true/>
        <key>histamine</key>
		<true/>
        <key>fodmaps</key>
		<true/>
        <key>fiber</key>
		<true/>
        <key>goitrogenic</key>
		<true/>
		<key>notes</key>
		<string></string>
	</dict>
    <dict>
		<key>foodid</key>
		<integer>1</integer>
		<key>gid</key>
		<integer>0</integer>
		<key>name</key>
		<string>Chicken</string>
		<key>scdlegal</key>
		<true/>
        <key>gapslegal</key>
		<true/>
        <key>histamine</key>
		<true/>
        <key>fodmaps</key>
		<true/>
        <key>fiber</key>
		<true/>
        <key>goitrogenic</key>
		<true/>
		<key>notes</key>
		<string></string>
	</dict>
    <dict>
		<key>foodid</key>
		<integer>2</integer>
		<key>gid</key>
		<integer>0</integer>
		<key>name</key>
		<string>Pork</string>
		<key>scdlegal</key>
		<true/>
        <key>gapslegal</key>
		<true/>
        <key>histamine</key>
		<true/>
        <key>fodmaps</key>
		<true/>
        <key>fiber</key>
		<true/>
        <key>goitrogenic</key>
		<true/>
		<key>notes</key>
		<string></string>
	</dict>
    <dict>
		<key>foodid</key>
		<integer>3</integer>
		<key>gid</key>
		<integer>0</integer>
		<key>name</key>
		<string>Lamb</string>
		<key>scdlegal</key>
		<true/>
        <key>gapslegal</key>
		<true/>
        <key>histamine</key>
		<true/>
        <key>fodmaps</key>
		<true/>
        <key>fiber</key>
		<true/>
        <key>goitrogenic</key>
		<true/>
		<key>notes</key>
		<string></string>
	</dict>
    <dict>
		<key>foodid</key>
		<integer>4</integer>
		<key>gid</key>
		<integer>0</integer>
		<key>name</key>
		<string>Turkey</string>
		<key>scdlegal</key>
		<true/>
        <key>gapslegal</key>
		<true/>
        <key>histamine</key>
		<true/>
        <key>fodmaps</key>
		<true/>
        <key>fiber</key>
		<true/>
        <key>goitrogenic</key>
		<true/>
		<key>notes</key>
		<string></string>
	</dict>
    <dict>
		<key>foodid</key>
		<integer>5</integer>
		<key>gid</key>
		<integer>0</integer>
		<key>name</key>
		<string>Duck</string>
		<key>scdlegal</key>
		<true/>
        <key>gapslegal</key>
		<true/>
        <key>histamine</key>
		<true/>
        <key>fodmaps</key>
		<true/>
        <key>fiber</key>
		<true/>
        <key>goitrogenic</key>
		<true/>
		<key>notes</key>
		<string></string>
	</dict>
    <dict>
		<key>foodid</key>
		<integer>6</integer>
		<key>gid</key>
		<integer>0</integer>
		<key>name</key>
		<string>Wild game</string>
		<key>scdlegal</key>
		<true/>
        <key>gapslegal</key>
		<true/>
        <key>histamine</key>
		<true/>
        <key>fodmaps</key>
		<true/>
        <key>fiber</key>
		<true/>
        <key>goitrogenic</key>
		<true/>
		<key>notes</key>
		<string></string>
	</dict>
    <dict>
		<key>foodid</key>
		<integer>7</integer>
		<key>gid</key>
		<integer>0</integer>
		<key>name</key>
		<string>Bacon</string>
		<key>scdlegal</key>
		<true/>
        <key>gapslegal</key>
		<true/>
        <key>histamine</key>
		<true/>
        <key>fodmaps</key>
		<true/>
        <key>fiber</key>
		<true/>
        <key>goitrogenic</key>
		<true/>
		<key>notes</key>
		<string></string>
	</dict>
    <dict>
		<key>foodid</key>
		<integer>8</integer>
		<key>gid</key>
		<integer>0</integer>
		<key>name</key>
		<string>Ham</string>
		<key>scdlegal</key>
		<true/>
        <key>gapslegal</key>
		<true/>
        <key>histamine</key>
		<true/>
        <key>fodmaps</key>
		<true/>
        <key>fiber</key>
		<true/>
        <key>goitrogenic</key>
		<true/>
		<key>notes</key>
		<string></string>
	</dict>
    <dict>
		<key>foodid</key>
		<integer>9</integer>
		<key>gid</key>
		<integer>1</integer>
		<key>name</key>
		<string>Liver</string>
		<key>scdlegal</key>
		<true/>
        <key>gapslegal</key>
		<true/>
        <key>histamine</key>
		<true/>
        <key>fodmaps</key>
		<true/>
        <key>fiber</key>
		<true/>
        <key>goitrogenic</key>
		<true/>
		<key>notes</key>
		<string></string>
	</dict>
    <dict>
		<key>foodid</key>
		<integer>10</integer>
		<key>gid</key>
		<integer>1</integer>
		<key>name</key>
		<string>Tongue</string>
		<key>scdlegal</key>
		<true/>
        <key>gapslegal</key>
		<true/>
        <key>histamine</key>
		<true/>
        <key>fodmaps</key>
		<true/>
        <key>fiber</key>
		<true/>
        <key>goitrogenic</key>
		<true/>
		<key>notes</key>
		<string></string>
	</dict>
    <dict>
		<key>foodid</key>
		<integer>11</integer>
		<key>gid</key>
		<integer>1</integer>
		<key>name</key>
		<string>Oxtail</string>
		<key>scdlegal</key>
		<true/>
        <key>gapslegal</key>
		<true/>
        <key>histamine</key>
		<true/>
        <key>fodmaps</key>
		<true/>
        <key>fiber</key>
		<true/>
        <key>goitrogenic</key>
		<true/>
		<key>notes</key>
		<string></string>
	</dict>
    <dict>
		<key>foodid</key>
		<integer>12</integer>
		<key>gid</key>
		<integer>1</integer>
		<key>name</key>
		<string>Kidney</string>
		<key>scdlegal</key>
		<true/>
        <key>gapslegal</key>
		<true/>
        <key>histamine</key>
		<true/>
        <key>fodmaps</key>
		<true/>
        <key>fiber</key>
		<true/>
        <key>goitrogenic</key>
		<true/>
		<key>notes</key>
		<string></string>
	</dict>
    <dict>
		<key>foodid</key>
		<integer>13</integer>
		<key>gid</key>
		<integer>2</integer>
		<key>name</key>
		<string>Any</string>
		<key>scdlegal</key>
		<true/>
        <key>gapslegal</key>
		<true/>
        <key>histamine</key>
		<true/>
        <key>fodmaps</key>
		<true/>
        <key>fiber</key>
		<true/>
        <key>goitrogenic</key>
		<true/>
		<key>notes</key>
		<string></string>
	</dict>
    <dict>
		<key>foodid</key>
		<integer>14</integer>
		<key>gid</key>
		<integer>3</integer>
		<key>name</key>
		<string>Salmon</string>
		<key>scdlegal</key>
		<true/>
        <key>gapslegal</key>
		<true/>
        <key>histamine</key>
		<true/>
        <key>fodmaps</key>
		<true/>
        <key>fiber</key>
		<true/>
        <key>goitrogenic</key>
		<true/>
		<key>notes</key>
		<string></string>
	</dict>
    <dict>
		<key>foodid</key>
		<integer>15</integer>
		<key>gid</key>
		<integer>3</integer>
		<key>name</key>
		<string>Mackerel</string>
		<key>scdlegal</key>
		<true/>
        <key>gapslegal</key>
		<true/>
        <key>histamine</key>
		<true/>
        <key>fodmaps</key>
		<true/>
        <key>fiber</key>
		<true/>
        <key>goitrogenic</key>
		<true/>
		<key>notes</key>
		<string></string>
	</dict>
    <dict>
		<key>foodid</key>
		<integer>16</integer>
		<key>gid</key>
		<integer>3</integer>
		<key>name</key>
		<string>Herring</string>
		<key>scdlegal</key>
		<true/>
        <key>gapslegal</key>
		<true/>
        <key>histamine</key>
		<true/>
        <key>fodmaps</key>
		<true/>
        <key>fiber</key>
		<true/>
        <key>goitrogenic</key>
		<true/>
		<key>notes</key>
		<string></string>
	</dict>
    <dict>
		<key>foodid</key>
		<integer>17</integer>
		<key>gid</key>
		<integer>3</integer>
		<key>name</key>
		<string>Shellfish</string>
		<key>scdlegal</key>
		<true/>
        <key>gapslegal</key>
		<true/>
        <key>histamine</key>
		<true/>
        <key>fodmaps</key>
		<true/>
        <key>fiber</key>
		<true/>
        <key>goitrogenic</key>
		<true/>
		<key>notes</key>
		<string></string>
	</dict>
    <dict>
		<key>foodid</key>
		<integer>18</integer>
		<key>gid</key>
		<integer>4</integer>
		<key>name</key>
		<string>Egg</string>
		<key>scdlegal</key>
		<true/>
        <key>gapslegal</key>
		<true/>
        <key>histamine</key>
		<true/>
        <key>fodmaps</key>
		<true/>
        <key>fiber</key>
		<true/>
        <key>goitrogenic</key>
		<true/>
		<key>notes</key>
		<string></string>
	</dict>
    <dict>
		<key>foodid</key>
		<integer>19</integer>
		<key>gid</key>
		<integer>5</integer>
		<key>name</key>
		<string>Yams</string>
		<key>scdlegal</key>
		<false/>
        <key>gapslegal</key>
		<true/>
        <key>histamine</key>
		<true/>
        <key>fodmaps</key>
		<true/>
        <key>fiber</key>
		<true/>
        <key>goitrogenic</key>
		<true/>
		<key>notes</key>
		<string></string>
	</dict>
    <dict>
		<key>foodid</key>
		<integer>20</integer>
		<key>gid</key>
		<integer>5</integer>
		<key>name</key>
		<string>Sweet potatoes</string>
		<key>scdlegal</key>
		<false/>
        <key>gapslegal</key>
		<true/>
        <key>histamine</key>
		<true/>
        <key>fodmaps</key>
		<true/>
        <key>fiber</key>
		<true/>
        <key>goitrogenic</key>
		<true/>
		<key>notes</key>
		<string></string>
	</dict>
    <dict>
		<key>foodid</key>
		<integer>21</integer>
		<key>gid</key>
		<integer>5</integer>
		<key>name</key>
		<string>Yucca/Manioc</string>
		<key>scdlegal</key>
		<false/>
        <key>gapslegal</key>
		<true/>
        <key>histamine</key>
		<true/>
        <key>fodmaps</key>
		<true/>
        <key>fiber</key>
		<true/>
        <key>goitrogenic</key>
		<true/>
		<key>notes</key>
		<string></string>
	</dict>
    <dict>
		<key>foodid</key>
		<integer>22</integer>
		<key>gid</key>
		<integer>5</integer>
		<key>name</key>
		<string>Taro</string>
		<key>scdlegal</key>
		<false/>
        <key>gapslegal</key>
		<true/>
        <key>histamine</key>
		<true/>
        <key>fodmaps</key>
		<true/>
        <key>fiber</key>
		<true/>
        <key>goitrogenic</key>
		<true/>
		<key>notes</key>
		<string></string>
	</dict>
    <dict>
		<key>foodid</key>
		<integer>23</integer>
		<key>gid</key>
		<integer>5</integer>
		<key>name</key>
		<string>Butternut squash</string>
		<key>scdlegal</key>
		<true/>
        <key>gapslegal</key>
		<true/>
        <key>histamine</key>
		<true/>
        <key>fodmaps</key>
		<true/>
        <key>fiber</key>
		<true/>
        <key>goitrogenic</key>
		<true/>
		<key>notes</key>
		<string></string>
	</dict>
    <dict>
		<key>foodid</key>
		<integer>24</integer>
		<key>gid</key>
		<integer>5</integer>
		<key>name</key>
		<string>Rutabaga</string>
		<key>scdlegal</key>
		<true/>
        <key>gapslegal</key>
		<true/>
        <key>histamine</key>
		<true/>
        <key>fodmaps</key>
		<true/>
        <key>fiber</key>
		<true/>
        <key>goitrogenic</key>
		<true/>
		<key>notes</key>
		<string></string>
	</dict>
    <dict>
		<key>foodid</key>
		<integer>25</integer>
		<key>gid</key>
		<integer>5</integer>
		<key>name</key>
		<string>Plantains</string>
		<key>scdlegal</key>
		<false/>
        <key>gapslegal</key>
		<true/>
        <key>histamine</key>
		<true/>
        <key>fodmaps</key>
		<true/>
        <key>fiber</key>
		<true/>
        <key>goitrogenic</key>
		<true/>
		<key>notes</key>
		<string></string>
	</dict>
    <dict>
		<key>foodid</key>
		<integer>26</integer>
		<key>gid</key>
		<integer>5</integer>
		<key>name</key>
		<string>Parsnips</string>
		<key>scdlegal</key>
		<false/>
        <key>gapslegal</key>
		<true/>
        <key>histamine</key>
		<true/>
        <key>fodmaps</key>
		<true/>
        <key>fiber</key>
		<true/>
        <key>goitrogenic</key>
		<true/>
		<key>notes</key>
		<string></string>
	</dict>
    <dict>
		<key>foodid</key>
		<integer>27</integer>
		<key>gid</key>
		<integer>6</integer>
		<key>name</key>
		<string>HotDog</string>
		<key>scdlegal</key>
		<false/>
        <key>gapslegal</key>
		<true/>
        <key>histamine</key>
		<true/>
        <key>fodmaps</key>
		<true/>
        <key>fiber</key>
		<true/>
        <key>goitrogenic</key>
		<true/>
		<key>notes</key>
		<string></string>
	</dict>
    <dict>
		<key>foodid</key>
		<integer>28</integer>
		<key>gid</key>
		<integer>6</integer>
		<key>name</key>
		<string>Lemon Pie</string>
		<key>scdlegal</key>
		<false/>
        <key>gapslegal</key>
		<true/>
        <key>histamine</key>
		<true/>
        <key>fodmaps</key>
		<true/>
        <key>fiber</key>
		<true/>
        <key>goitrogenic</key>
		<true/>
		<key>notes</key>
		<string></string>
	</dict>
</array>
</plist>
